* {
    box-sizing: border-box
}

address,
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
select,
textarea {
    font-size: 100%;
    vertical-align: middle;
    font-weight: 400;
}

dl,
ol,
ul {
    list-style: none;
}

fieldset,
img {
    border: none;
}

img {
    display: inline-block;
    vertical-align: top;
}

address,
em,
i {
    font-style: normal;
}

sub,
sup {
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

q:after,
q:before {
    content: "";
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: Microsoft YaHei, PingFang SC, Heiti SC, sans-serif
}

textarea {
    word-wrap: break-word;
    resize: none;
}

input,
textarea {
    border: none;
    outline: none;
    font-family: Microsoft YaHei, PingFang SC, Heiti SC, sans-serif;
}

input::-ms-clear,
input::-webkit-inner-spin-button {
    display: none;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

menu {
    margin: 0;
    padding: 0;
}

mark {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: #136ee3;
    outline: none;
}

iframe,
select {
    border: none;
}

html,
body {
    height: 100%;
}

body {
    font: 12px/1.5 Microsoft YaHei, PingFang SC, Heiti SC, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    min-width: 1400px;
}

[v-cloak] {
    display: none!important
}

::-webkit-input-placeholder {
    color: #999
}

::-moz-placeholder {
    color: #999
}

:-ms-input-placeholder {
    color: #999
}

::-ms-input-placeholder {
    color: #999
}

::placeholder {
    color: #999
}

body {
    /* overflow-y: hidden; */
    background: #fff;
    min-width: 1280px;
    height: 100vh;
}